*{
    box-sizing: border-box;
}

body{

}

ul{
    outline: 1px solid yellow;
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 220px;
    line-height: 24px;
}

li{
    outline: 1px solid green;
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
}


a{
    outline: 1px solid red;
    display: block;
    text-decoration: none;
    color: #000;
    padding-left: 10px;
}

a:hover{
    background: #e0e0d1;
}

a:active{
    background: #333;
}

ul li:first-child{
    background: #f9a91a;
}

ul li:first-child a{
    background: #fff;
}

ul li:first-child a:hover{
    background: #000;
}

ul li:first-child a:active{
    background: #fff;
}
